.b-site {
  &__sidebar {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background: {
      color: #f0f4f7;
    }
  }

  &__content {
    padding: 1em 0;
    margin: 0 2em 0 calc(250px + 2em);
    background: {
      color: #fff;
    }
    max-width: 978px;
  }
}
